@model ECommerceProject.ViewModels.EditUserProfileViewModel


@{
    ViewData["Title"] = "Edit Profile";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="col-md-6">
        <!-- Profile Edit Card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Edit Profile</h4>
            </div>
            <div class="card-body">
                <form asp-action="EditProfile" enctype="multipart/form-data" method="post">
                    <input type="hidden" asp-for="Id" />

                    <!-- Username Field -->
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <span class="text-danger" id="usernameError">
                            @ViewData["UsernameError"]
                        </span>
                    </div>

                    <!-- Email Field -->
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />
                    <!-- Submit Button -->
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
