@model ECommerceProject.ViewModels.RegisterViewModel

<h2>Delete User Confirmation</h2>

<p>Are you sure you want to delete user @Model.Username?</p>

<form method="post">
    <input type="submit" value="Confirm Deletion" class="btn btn-danger" />
</form>
